<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        {% if update == false %}    
        <title> Super Sprinter 3000 - Add new Story </title>
        {% else %}
        <title> Super Sprinter 3000 - Edit Story </title>
        {% endif %}
    </head>
    <body>
        {% if update == false %}
        <h2>User Story manager - Add new Story</h2>
        <form action="/save" method="post">
        {% else %}
        <h2>User Story manager - Edit Story</h2>
        <form action="{{ url_for('update', story_id=story_id) }}" method="post">
        {% endif %}
            <h4>Story title:</h4>
            <input type="text" name="storytitle" value="{{storytitle}}">
            <h4>Story:</h4>
            <textarea name="userstory">{{userstory}}</textarea>
            <h4>Acceptance Critera:</h4>
            <textarea name="criteria">{{criteria}}</textarea>
            <h4>Business Value:</h4>
            <label for="value">Smallest value 100, greatest value 1500, value must be dividable by 100!</label><br>
            <input type="number" name="bvalue" value={{bvalue}} min="100" max="1500" step="100">    
            <h4>Estimation(h):</h4>
            <label for="value">Smallest value 0.5, greatest value 40, value must be dividable by 0.5!</label><br>
            <input type="number" name="estimation" value={{estimation}} min="0.5" max="40" step="0.5">
            <h4> Status: </h4>
            <select name="status">
                <option>Planning</option>
                <option>TODO</option>
                <option>In Progress</option>
                <option>Review</option>
                <option>Done</option>
            </select><br>
            {% if update == false %}    
            <h4><button type="submit">Create</button></h4>
            {% else %}    
            <h4><button type="submit">Update</button></h4>
            {% endif %}
        </form>
    </body>
</html>